*.sdf
*.suo
*.opensdf
ipch*
Release*
3DTemplateMatchingHeadPoseEstimation/Debug/*
3DTemplateMatchingHeadPoseEstimation/Release/*
3DTemplateMatchingHeadPoseEstimation/models/*
3DTemplateMatchingHeadPoseEstimation/oni/*
*.user
*.filters
